extends layout

block content
  h1= 'Top Scorers'

  ul
    each scorer in scorers
      li= scorer.year + ': ' + scorer.player + ' (' + scorer.team + ')'
  a.scorerbutton(href='/khlscorer/add') Add a new top scorer