extends layout

block content
  h1= 'Gagarin Cup'

  p= 'Gagarin Cup is awarded to the KHL playoff winner and they are crowned the champions of KHL.'

  ul
    each winner in winners
      li= winner.year + ': ' + winner.team